@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Poppins", sans-serif;
    src: url();
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #383838;
    line-height: 1.1em;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin: 15px 0;
}

p {
    color: #383838;
    font-size: 18px;
}

img {
    width: 100%;
    border-radius: 5px;
}

header {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

header img {
    border-radius: 0px;
}

.logoContainer {
    width: 200px;
}

.logoContainer img {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li a {
    color: #6558f5;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    border: solid 1px #6558f5;
    border-radius: 5px;
    padding: 10px 20px;
}

nav ul li a:hover {
    background: #6558f5;
    color: #ffffff;
}

.selected {
    background: #788896;
    color: #ffffff;
    border: solid 1px #788896;
}

.selected:hover {
    border: solid 1px #6558f5;
}

.navCta {
    background: #6558f5;
    color: #ffffff;
}

.navCta:hover {
    background: #473ead;
    border-color: #473ead;
}

.heroSection {
    background-color: #6558f5;
    background-image: url(../assets/img/img3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    min-height: 70vh;
}

.heroContent {
    margin: auto;
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 120px 0px;
}

.heroContent h1 {
    color: #ffffff;
}

.heroContent p {
    color: #ffffff;
    line-height: 1.8em;
}

.pageContent {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 48%;

}

.pageTitle {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

.portfolio {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.project {
    width: 30%;
}

.gridArea {
    display: grid;
    grid-template-columns: 1fr 200px repeat(2, 1.5fr) 3fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "image1 image2 image3 image3 image4"
    "image1 image2 image3 image3 image4"
    "image5 image5 image3 image3 image4"
    "image5 image5 image6 image6 image7"
    "image5 image5 image6 image6 image8"
    ;

    position: relative;
    width: 90%;
    max-width: 1200px;
    height: 900px;
    margin: 0 auto;
}

.gridArea img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gridArea .image1 {
    grid-area: image1;
}

.gridArea .image2 {
    grid-area: image2;
}

.gridArea .image3 {
    grid-area: image3;
}

.gridArea .image4 {
    grid-area: image4;
}

.gridArea .image5 {
    grid-area: image5;
}

.gridArea .image6 {
    grid-area: image6;
}

.gridArea .image7 {
    grid-area: image7;
}

.gridArea .image8 {
    grid-area: image8;
}

footer {
    padding: 80px 0px;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    display: flex;
}

.socialMedia {
    margin: auto;
}

.socialMedia ul {
    display: flex;
    list-style: none;
}

.socialMedia ul li a {
    margin: 30px;
    font-size: 26px;
    color: #383838;
}

.socialMedia ul li a:hover {
    color: #6558f5;
}

@media all and (max-width: 980px) {
    header {
        display: block;
        padding: 40px 0px;
    }

    nav ul {
        margin-left: -30px;
    }

    nav ul li {
        margin-top: 30px;
        margin-left: 0;
    }

    .pageContent {
        margin: auto;
        width: 90%;
        max-width: 1200px;
        display: block;
        align-items: center;

    }

    .container {
        width: 100%;
        margin: 40px 0;

    }


    .portfolio {
        margin: auto;
        width: 90%;
        max-width: 1200px;
        display: block;
        justify-content: space-between;
    }

    .project {
        width: 100%;
        padding-bottom: 40px;
    }

}